<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Equipo de trabajo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   
  </ion-header>

  <app-explore-container></app-explore-container>

  <ion-item-divider class="cuadro">
        <ion-item-divider class="perfil">
         <ion-img
          src="https://avatars.githubusercontent.com/u/117743844?v=4"
          alt="perfil"
          class="imagen"
          ></ion-img>
          <ion-label class="datos"> RUIZ ERICK </ion-label>
          <ion-label>
            <a href="https://github.com/Ruizerick26">Github: Erick Ruiz</a>
          </ion-label>
        </ion-item-divider>
        
        <ion-item-divider class="perfil">
          <ion-img
          src="https://avatars.githubusercontent.com/u/117743690?v=4"
          alt="perfil"
          class="imagen"
          ></ion-img>
          <ion-label class="datos"> MORALES GILMAR </ion-label>
          <ion-label>
            <a href="https://github.com/Morales-Gilmar-Vladimir">Github: Gilmar Morales</a>
          </ion-label>
        </ion-item-divider>
        
        <ion-item-divider class="perfil">
          <ion-img
          src="https://avatars.githubusercontent.com/u/112398547?v=4"
          alt="perfil"
          class="imagen"
          ></ion-img>
          <ion-label class="datos"> HIDALGO PAUL </ion-label>
          <ion-label>
            <a href="https://github.com/Paulesh5">Github: Paul Hidalgo</a>
          </ion-label>
        </ion-item-divider>
  </ion-item-divider>
      
    </ion-content>
    